@model IEnumerable<TTS_MVC .Models.Employee>

@{
    ViewData["Title"] = "Details";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hire_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hire_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            
        </tr>
}
    </tbody>
</table>
